.cards {
    height: 70%;
    display: flex;
    justify-content: space-between;
    padding: 0 2%;
}

.card {
    display: inherit;
    flex-direction: column;
    gap: 20px;
    width: 33%;
    height: 100%;
    position: relative;
}

.ava_card {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 300px;
    background-size: cover !important;
    background-position: center !important;
    filter: blur(1.5px) brightness(60%);
}

.a_item {
    font-size: 1rem;
    text-decoration: none;
    border: 2px solid;
    border-radius: 5px;
    width: 30%;
    color: #a8adb1;
    position: absolute;
    top: 150px;
    left: 37%;
    padding: 2%;
}

.a_item:hover {
    animation: flicker 0.7s ease-in-out infinite;
}

@keyframes flicker {
    from {
        color: #1c7057;
        border: 2px solid #1c7057;
    }
    to {
        color: #20c997;
        border:2px solid #20c997;
    }
}

.box_description {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.title {
    font-size: 1.2em;
    word-break: break-word;
    color: #a8adb1;
}

.description {
    color: #20c997;
    font-size: 1rem;
    word-break: break-word;
}

@media all and  (max-width: 768px) {
    .cards {
        flex-direction: column;
        align-items: center;
        gap: 30px;
    }

    .card {
        width: 90%;

    }

    .ava_card {
        height: 300px;
    }
}