.section {
    min-height: 100vh;
    background: #000000;
    display: flex;
    align-items: center;
}

.content {
    border: 1px solid;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.title {
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 2em;
    padding: 5%;
    color: #a8adb1;
}

.form {
    display: flex;
    flex-direction: column;
    width: 70%;
    gap: 10px;
}

.form input::placeholder, textarea::placeholder {
    color: #5e6062;
    padding: 3%;
}

.form input, textarea {
    background: #171314bf;
    color: #20c997;
    border: none
}
.form input{
    height: 40px;
}

.form input, textarea {
    resize: none;
    cursor: auto;
    outline: none;
}

.form input:focus, textarea:focus {
    outline: 1px #123f33 solid;
}

.btn {
    margin: 30px 0 10px 0;
    padding: 1% 4%;
    border: 1px #141516 solid;
    border-radius: 5px;
    color: #1c7057;
    background-color: #1d1f22;
}
.btn:hover{
    color: #20c997;
    border: 1px #5e6062 solid;
}

@media all and (max-width: 768px) {
    .form {
        width: 100%;
    }
    .btn{
        padding: 2% 8%;
    }
}