.section{
    min-height: 100vh;
    background: gray;
    display: flex;
    align-items: center;
}
.content{
    border: 1px solid;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.title{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 5%;
}
.form{
    display: flex;
    flex-direction: column;
    width: 60%;
    gap: 10px;
}
.btn{
margin: 30px 0 10px 0;
}