.cards {
    height: 70%;
    display: flex;
    justify-content: space-around;
}

.card {
    width: 20%;
    height: 100%
}

.box_title_card {
    height: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.ava {
    height: 100px;
    width: 100%;
}

.title {
    font-size: 1rem;
    color: #20c997;
}

.description {
    word-break: break-word;
    color: #a8adb1;
    padding: 0 5%;
}

@media all and  (max-width: 1200px) {
    .cards {
        flex-wrap: wrap;
        gap: 30px;
    }

}

@media all and  (max-width: 768px) {
    .cards {
        flex-wrap: wrap;
        gap: 10px;
    }

    .card {
        width: 40%;
    }
    .ava{
        height: 50%;
    }

    .ava svg {
        width: 50px;
        height: 50px;
    }

    .box_title_card {
        gap: 10px;
    }
}