.section{
    min-height: 100vh;
    background: yellowgreen;
    display: flex;
    align-items: center;
}
.content{
    border: 1px solid;
    height: 100%;
}
.title{
    height: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.5rem;
    padding: 5%;
}
