root {
    --header-color: #000000;
    --header-color-hover: #030303;
    --header-color-nav--text: #a8adb1;
    --main-title-color:#c7ced3;

    --section-1: #000000;
    --section-2--another: #030303;

    --footer-color: #030303;

    --textcolor--section: #20c997;

    --placeholder--contact:#5e6062;
    --form--contact--focus:#123f33;
    --form--contact-bg:#171314bf;
    --btn--color--contact:#1c7057;
    --btn--hover--contact: #20c997
}